<div class="mat-card-wrapper">
  <mat-card>

    <mat-card-title (click)="toggleExpanded()" class="list-item-title">{{item.id}}: {{item.label}}</mat-card-title>

    <img mat-card-image src="{{item.imageUrl}}" *ngIf="isExpanded"/>
    <mat-card-content *ngIf="isExpanded">
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isExpanded" [routerLink]="['/detail', item.id]" mat-button>View Details</button>
    </mat-card-actions>
  </mat-card>
</div>
